

<div class="container-fluid d-none d-sm-block">
    <div class="row footer">
        <div class="col-4 primer">
            <h3>?NECESITAS AYUDA?</h3>
            <h4>0264 123 4567</h4>
            <h4 class="black">
              <a href=""> tusabras@geekshubstravels.com</a>
            </h4>
            <h6>Lun-Vie: 9:00-19:00, Sab: 10:00-14:00</h6>
        </div>
        <div class="col-4">
            <h3 class="black">INFORMACION</h3>
            <a class="nav-link" href="#">Quienes somos</a>
            <a class="nav-link" href="#">Preguntas frecuentes</a>
            <a class="nav-link" href="#">Politica de privacidad</a>
            <a class="nav-link" href="#">Condiciones generales</a>
            <a class="nav-link" href="#">Aviso legal</a>
            <a class="nav-link" href="#">Contacto</a>
            <a class="nav-link" href="#">Programa de puntos</a>
        </div>
        
        <div class="col-4">
            <h3>SUSCRIBETE A LA NEWSLETTER</h3>
            <input type="text" placeholder="correo electronico" class="big">
            <p></p>
            <button type="button" class="btn btn-warning butfin">SUSCRIBETE</button>
        </div>
        
          
        <hr>
        <div class="col-12 fin">
            <H6>Luis Jurado Travels 2018. Todos los derechos reservados.</H6>
        </div>


    </div>
</div>


<div class="container-fluid  d-block d-sm-none">
    <div class="row footer">
   
        <div class="col-12">
            <h4 class="black">
                <a href=""> tusabras@geekshubstravels.com</a>
            </h4>
            <h6>Lun-Vie: 9:00-19:00, Sab: 10:00-14:00</h6>
        </div>
        <div class="col-4">
            <h3>SUSCRIBETE A LA NEWSLETTER</h3>
            <input type="text" placeholder="correo electronico" class="big">
            <p></p>
            <button type="button" class="btn btn-warning butfin">SUSCRIBETE</button>
        </div>
        <div class="col-12 logos">
            <a href="#">
                <img src="images/facemax.png" class="logo2" alt="">
            </a>
            <a href="#">
                <img src="images/insttrans.png" class="logo2" alt="">
            </a>
            <a href="#">
                <img src="images/skype_PNG31.png" class="logo2" alt="">
            </a>
            <a href="#">
                <img src="images/35.png" class="logo2" alt="">
            </a>
            <a href="#">
                <img src="images/yout.png" class="logo2" alt="">
            </a>
            <a href="#">
                <img src="images/whatsapp-official-logo-png-download.png" class="logo2" alt="">
            </a>
        </div>
        <hr>
        <div class=" col-12 fin">
            <H6>Luis Jurado Travels 2018. Todos los derechos reservados.</H6>
        </div>


    </div>
</div>

