<div class="container-fluid">
    <div class="footer">
        <div class="gridfooter">
            <div class="primer">
                <h3>?NECESITAS AYUDA?</h3>
                <h4>0264 123 4567</h4>
                <h4 class="black">
                    <a href=""> tusabras@geekshubstravels.com</a>
                </h4>
                <h6>Lun-Vie: 9:00-19:00, Sab: 10:00-14:00</h6>
            </div>
            <div>
                <h3 class="black">INFORMACION</h3>
                <a class="nav-link" href="#">Quienes somos</a>
                <a class="nav-link" href="#">Preguntas frecuentes</a>
                <a class="nav-link" href="#">Politica de privacidad</a>
                <a class="nav-link" href="#">Condiciones generales</a>
                <a class="nav-link" href="#">Aviso legal</a>
                <a class="nav-link" href="#">Contacto</a>
                <a class="nav-link" href="#">Programa de puntos</a>
            </div>
            <div>
                <h3>SUSCRIBETE A LA NEWSLETTER</h3>
                <input type="text" placeholder="correo electronico" class="big">
                <p></p>
                <button type="button" class="btn btn-warning butfin">SUSCRIBETE</button>
            </div>
        </div>
        <hr>
        <div class="fin">
            <H6>Luis Jurado Travels 2018. Todos los derechos reservados.</H6>
        </div>

    </div>
</div>