<div class="container-fluid cabecera">
    <div class="row">
        <div class="col-12 image22" class="init1">
            <div class="row">
                <div class="col-4" class="inicial">
                    <a class="nav-link" href="#">
                        <img src="images/iconoweb.png" class="logo1" alt="">
                    </a>
                </div>
                <div class="col-4 black">
                    <a href="#">Destinos.</a>
                    <a href="#">Quienes somos?</a>
                    <a href="#">Donde estamos?</a>
                </div>
                <div class="col-4 logos">
                    <a href="#">
                        <img src="images/fb-ico.png" class="logo2" alt="">
                    </a>
                    <a href="#">
                        <img src="images/tt-ico.png" class="logo2" alt="">
                    </a>
                    <a href="#">
                        <img src="images/ws-ico.png" class="logo2" alt="">
                    </a>
                    <a href="#">
                        <img src="images/Instagram_Logo-1002x1003.jpg" class="logo2" alt="">
                    </a>
                    <a href="#">
                        <img src="images/linkedin_logo-simple-1024x1024.jpg" class="logo2" alt="">
                    </a>
                    <a href="#">
                        <img src="images/Youtube-logo-2017.png" class="logo2" alt="">
                    </a>
                </div>
                <div class="col-3"></div>
                <div class="col-6 centro">
                    <h1>Viaja!</h1>
                    <h2>Descubre lugares maravillosos.</h2>
                    <p>
                        <button type="button" class="btn btn-warning">VER DESTINOS</button>
                    </p>
                </div>
                <div class="col-3"></div>
            </div>
        </div>
    </div>
</div>