<div class="container-fluid cabecera">
    <div class="row">
        <div class="col-sm-12 image22">
            <div class="row">
                <div class="col-sm-4 d-none d-sm-block otracab">
                    <img src="images/iconoweb.png" class="logo1" alt="">
                    <p>GeekHubs
                        <br> Travels</p>
                </div>
                <div class="col-sm-4 d-none d-sm-block black">
                    <a href="#">Destinos.</a>
                    <a href="#">Quienes somos?</a>
                    <a href="#">Donde estamos?</a>
                </div>
                <div class="col-2 d-block d-sm-none">
                    <img src="images/iconoweb.png" class="logo1" alt="">
                    <p>GeekHubs
                        <br> Travels</p>
                </div>
                <div class="col-7 d-block d-sm-none"></div>
                <div class="col-3 d-block d-sm-none">
                    <nav class="navbar navbar-expand-lg navbar-light bg-light">

                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02"
                            aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>

                        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                                <li class="nav-item">
                                    <a class="nav-link" href="#">
                                        Destinos.
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Quienes somos?</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Donde estamos?</a>
                                </li>
                                <li>
                                    <form action="">
                                        <h3>Introduce tus datos para iniciar sesion</h3>
                                        <input type="checkbox" name="" id="" placeholder="usuario">
                                        <input type="email" name="" id="" placeholder="correo electronico">
                                    </form>
                                </li>
                            </ul>

                        </div>
                    </nav>
                </div>

                <div class="col-sm-4 d-none d-sm-block logos">
                    <div class="row">
                        <div class="col-5"></div>

                        <div class="col-1">
                            <a href="#">
                                <img src="images/facemax.png" class="logo2" alt="">
                            </a>
                        </div>
                        <div class="col-1">
                            <a href="#">
                                <img src="images/insttrans.png" class="logo2" alt="">
                            </a>
                        </div>
                        <div class="col-1">
                            <a href="#">
                                <img src="images/skype_PNG31.png" class="logo2" alt="">
                            </a>
                        </div>
                        <div class="col-1">
                            <a href="#">
                                <img src="images/35.png" class="logo2" alt="">
                            </a>
                        </div>
                        <div class="col-1">
                            <a href="#">
                                <img src="images/yout.png" class="logo2" alt="">
                            </a>

                        </div>
                        <div class="col-1">
                            <a href="#">
                                <img src="images/whatsapp-official-logo-png-download.png" class="logo2" alt="">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-3"></div>
                <div class="col-6 centro">
                    <h1>Viaja!</h1>
                    <h2>Descubre lugares maravillosos.</h2>
                    <p>
                        <button type="button" class="btn btn-warning">VER DESTINOS</button>
                    </p>
                </div>
                <div class="col-3"></div>
            </div>
        </div>
    </div>
</div>