<div class="container-fluid cabecera">
    <div class="row">
        <div class="col-12 image22">
            <div class="row">
                <div class="col-4 otracab">
                    <img src="images/iconoweb.png" class="logo1" alt="">
                    <p>GeekHubs
                        <br> Travels</p>
                </div>
                <div class="col-4 black">
                    <a href="#">Destinos.</a>
                    <a href="#">Quienes somos?</a>
                    <a href="#">Donde estamos?</a>
                </div>
                <div class="col-4 logos">
                    <a href="#">
                        <img src="images/face.png" class="logo2" alt="">
                    </a>
                    <a href="#">
                        <img src="images/insta.png" class="logo2" alt="">
                    </a>
                    <a href="#">
                        <img src="images/skype.png" class="logo2" alt="">
                    </a>
                    <a href="#">
                        <img src="images/twit.png" class="logo2" alt="">
                    </a>
                    <a href="#">
                        <img src="images/yout.png" class="logo2" alt="">
                    </a>
                    <a href="#">
                        <img src="images/ws-ico.png" class="logo2" alt="">
                    </a>
                </div>
                <div class="col-3"></div>
                <div class="col-6 centro">
                    <h1>Viaja!</h1>
                    <h2>Descubre lugares maravillosos.</h2>
                    <p>
                        <button type="button" class="btn btn-warning">VER DESTINOS</button>
                    </p>
                </div>
                <div class="col-3"></div>
            </div>
        </div>
    </div>
</div>