<div class="container-fluid finalerror">
    <div class="row">
        <div class="col-12 image3">
            <h1>Aqui no hay nada</h1>
            <h2>Mejor pulsa el boton y regresa atras</h2>
            <a href="./index.hbs" class="btn btn-warning">Vuelve a casa como el almendro!</a>
        </div>
    </div>
</div>