<div class="container-fluid">

    <div class="row">
        <div class="col-12 image2">
            <div class="row">
                
                    <div class="col-4"></div>
                    <div class="col-4 transparent">
                        <h1>Registro</h1>
                        <form action="" class="formulario">
                            <div class="form-group">
                                <label for="exampleInputEmail1">Usuario</label>
                                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Usuario">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1">Email address</label>
                                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">Password</label>
                                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">Repeat Password</label>
                                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Repeat Password">
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                <label class="form-check-label" for="defaultCheck1">
                                    Acepto los terminos y condiciones, asi como la politica de privacidad.
                                </label>
                            </div>
                            <p></p>
                            <button type="submit" class="btn btn-warning">ENVIAR</button>


                        </form>
                    </div>
                    <div class="col-4"></div>
                
            </div>
        </div>
    </div>

</div>

