
.negro a{
    color: black;
}

.container-fluid {
    padding-bottom: 25px;
}

.black a {
    color: white;
    font-size: 15px;
}

a:hover {
    color: greenyellow;
}

body, html {
    margin: 0;
    padding: 0;
}

.card-title {
    text-align: center;
}

.image {
    background: url("/images/travel_3.jpg") no-repeat center top;
    background-position: center center;
    text-align: center;
    min-height: 500px;
    width: 100%;
    background-size: cover;
}

.image2 {
    background: url("/images/travel_2.jpg") no-repeat center top;
    background-position: center center;
    text-align: center;
    min-height: 400px;
    width: 100%;
    background-size: cover;
    margin-top: 20px;
}

.image3 {
    background: url("/images/travel_1.jpg") no-repeat center top;
    background-position: center center;
    text-align: center;
    min-height: 400px;
    width: 100%;
    background-size: cover;
    margin-top: 20px;
}

.image4 {
    background: url("/images/ciudad_mexico.JPG") no-repeat center top;
    background-position: center center;
    text-align: center;
    min-height: 400px;
    width: 100%;
    background-size: cover;
}

.image5 {
    background: url("/images/tokyo.JPG") no-repeat center top;
    background-position: center center;
    text-align: center;
    min-height: 400px;
    width: 100%;
    background-size: cover;
}

.image6 {
    background: url("/images/madrid.JPG") no-repeat center top;
    background-position: center center;
    text-align: center;
    min-height: 400px;
    width: 100%;
    background-size: cover;
}

.image7 {
    background: url("/images/new_york.JPG") no-repeat center top;
    background-position: center center;
    text-align: center;
    min-height: 400px;
    width: 100%;
    background-size: cover;
}

.image8 {
    background: url("/images/buenos_aires.JPG") no-repeat center top;
    background-position: center center;
    text-align: center;
    min-height: 400px;
    width: 100%;
    background-size: cover;
}

.image9 {
    background: url("/images/beijing.JPG") no-repeat center top;
    background-position: center center;
    text-align: center;
    min-height: 400px;
    width: 100%;
    background-size: cover;
}

.texto {
    padding: 15px;
    background-color: paleturquoise;
    margin-top: 80px;
    height: 350px;
    overflow: hidden;
}

.ofer {
    position: absolute;
    background-color: blue;
    color: white;
    top: 10px;
    left: 10px;
    width: 98%;
    height: 35px;
}

.money {
    position: absolute;
    background-color: yellow;
    color: blue;
    top: 10px;
    right: 10px;
    height: 60px;
}

