.fin {
    text-align: center;
    padding-top: 25px;
}

.logos {
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
}

.footer {
    background-color: rgb(87, 130, 170);
    padding-top: 40px;
    margin-top: 10px;
}

.primer {
    padding-left: 15px;
}

.nav-link {
    color: white;
    padding: 10px;
}

.big {
    width: 300px;
}

.black a {
    color: white;
    font-size: 15px;
}

a:hover {
    color: greenyellow;
}
